<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <h1>Homepage</h1>

    <h2>Users</h2>

    <style>
      li {
        list-style-type: none;
      }
    </style>
    <ul>
      <% db.forEach(data => { %>
      <li><img src=<%= data.profile %>></li>
      <li><%= data.username %></li>
      <li><button>Upload</button></li>
      <% }) %>
    </ul>
  </body>
</html>
